@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --shadow-default: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    --color-light-dark: rgba(0, 0, 0, 0.3);
}

body, html {
    height: 100dvh;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}